.list-display{
    color: #fff;
    background-color: #696969;
    margin: 20px auto;
    width: 300px;
    border: 1px solid black;
    
}
.list-display p{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}