* {
	font-family: 'Roboto',sans-serif;
}

body {
	margin:0;
}

header {

	display:flex !important;
	flex-direction: row;
	justify-content: space-around;
	background-color: black;
}
#nav{
	color:white; 
	font-weight: bold;
	font-size: 20px;
	margin: 0;
}

.navigation{
	display:flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 40px;
	font-size: 15px;
	font-family: "Times New Roman","Sans serif";
	border: 0;
}
ul li a {
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.second{
	
	height: 500px;
	text-align:center;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url('pic15.jpg');
	background-size: cover;
	

}
.sec>p{
	color:white;
	font-size: 20px;
	position:relative;
	margin-top: 0;
	margin-left: 0;
}
#free{
	font-weight: bold;
	font-size: 30px;
}
#reg{
	text-decoration: none;
	color:black;
	padding:5px;
	border:1px solid black;
	background-color: white;
	transition: 0.6s ease;
}
.about{
	margin: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.abt1{
	margin-left: 100px;
	width:40%;
	line-height: 2.5;
}
.abt2{
	width: 40%;
	margin-right: 100px;
	line-height: 2.5;
}
.sec{
	position:relative;
	left:20%%;
	top:30%;
}
.facts{
	
	height:400px;
	background-image:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('pic17.jpg');
	background-size: cover;
	margin-top: 30px;
}
.factlist{
	position: relative;
	top:50%;
	font-size:20px;
	color:white;
	display:flex;
	flex-direction:row;
	justify-content: space-around;
}
.factlist > p {
	text-align: center;
}
#speak{
	margin-top: 50px;
	padding-left:50px;
	margin: 20px;
}
.speakers{
	margin-top: 40px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	text-align: center;
}
.row1{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
.row2{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
#formheading{
	margin:top: 50px;
	padding-left:50px;
	color:black;
	margin: 20px;
}
.form{
	margin-top: 40px;
	text-align:center;
}


input[type=text],select{
	color: #999;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  padding:10px;
  
}
input[type=submit]{
	color:white;
	padding-left:20px;
	padding-right:20px;
	padding-top: 10px;
	padding-bottom:10px;
	background-color: black;
}
.work{
	margin-top: 50px;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url('pic188.jpg');
	background-size: cover;
	height: 400px;
}
.submit{
	color:white;
	padding-top:50px;
	text-align:center;

}
#wsubmit{
	color:black;
	background-color: white;
	padding: 20,10,20,10;
}
.div1,.div2,.div3{
	color:white;
	background-color:black;
	width:400px;
	height: 170px;
	text-align:center;
	padding-top: 50px;
	outline: 2px solid white;
	outline-offset: -9px;
}
.event{
	padding-left:100px;
	padding-right:100px;
	margin-top:50px;
	display:flex;
	flex-direction:row;
	justify-content: space-around;
}
#workk{
	margin-top: 80px;
	padding-left:50px;
	
}
#partnerhead{
	margin-top: 60px;
	padding-left:50px;
	margin-top: 100px;
}
.par1,.par2{
	margin-top:60px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

.partner{
	margin-top: 60px;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 150px;
	padding-right: 150px;
}
.partner a{
	opacity: 0.2;
}
a:hover{
	opacity:1; 
}
#fq{
	
	margin-top:50px;
	padding-left:50px;
}
.fq1{
	width:80%;
	padding:5px;
	background-color: black;
	margin-top:15px;
}
.faq{
	padding-left: 90px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}
.faq p{
	color:white;
}
#photo{
	margin-top:70px;
	padding-left: 50px;
}
.photos{
	
	margin-top: 40px;
	
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	margin:2px;
}
.prow1,.prow2{
	display:flex;
	flex-direction: row;
	justify-content: center;
	border:1px;

}
.mh{
	max-height:200px;
	margin: 2px;
}
.pr2{
	display:flex;
	flex-direction: column;
	margin: 2px;
}
.prr1{
	display: flex;
	flex-direction: row;
}
.foter{
	margin-top: 70px;
	text-align:center;
	background-color: black;
	width: 100%;
	height: 150px;
}
.speakers-container{
	padding: 100px;
}

